#root {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

* {
  background-color: rgb(35, 41, 78);
}

.bLoginGoogle {
  color: white;
  background-image: linear-gradient(0deg, #08143d, #2fcc66);
  border: 2px solid black;
  margin: 4px;
  padding: 7px 4px 7px 5px;
}
.bLoginGoogle:hover {
  filter: drop-shadow(0 0 2em #26ff0077);
}

.bDeslogar {
  color: white;
  background-image: linear-gradient(180deg, #08143d, #cc492f);
  border: 2px solid black;
  margin: 4px;
  padding: 7px 10px 7px 10px;
}

.bDeslogar:hover {
  filter: drop-shadow(0 0 2em #ff0000);
}

.tArea {
  width: 100%;
  min-height: 200px;
}

.logo {
  height: 6em;
  margin: 19px 16px;
  filter: drop-shadow(0 0 2em #ffffff87);
  border-radius: 1000px;
}


@media (prefers-reduced-motion: no-preference) {
}

.card {
  margin: 26px 0px 31px 0px;
  min-width: 184px;
  max-width: 190px;
  
}

.read-the-docs {
  color: #888;
}

h1 {
  color: white;
}

.tNameUser {
  color: white;
  background-color: #341082;
  width: auto;
  border-radius: 50px 50px 0px 0px;
  height: auto;
  border: #7b41f8 solid 1px;
  margin-bottom: -4.5%;
  font-size: larger;
  display: inline-block;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 2%;
  
}

.tTextPost {
  color: white;
  background-color: #341082;
  width: 75%;
  border-radius: 0px 50px 50px 50px;
  border: #836bb6 solid 2px;
  margin-top: 0%;
  margin-left: 12.5%;
  margin-bottom: 30px;
}

.posts {
  border: #bd34fe solid 5px;
  border-radius: 50px;
  width: 75%;
  /* align-items: center; */
  margin-left: 12.5%;
  margin-top: 25px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}

.photo {
  /* margin-top: 10px; */
  width: 6%;

  border-radius: 50px;
  margin: 30px 0px 0px 4.5%;
}

.divHeader {
  border: #bd34fe solid 1px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  max-height: 133px;
  position: fixed;
  top: 0px;
  width: 100%;
}


.divUserEmail {
max-height: 144px;
}

.divPosts {
  margin: 115px 1em 60px 1em;

}

.tHorario {
  margin: 6.5% 0px 0px 7px;
  color: white;

}

.tUserName {
  font-size:x-large;
  max-height: 50px;
  margin-top: 31px;
  margin-bottom: 0px;
  margin-left: 10px;
  text-align: left;
}

.tEmail {
  color: white;
  margin-bottom: 31px;
  margin-top: 5px;
  margin-left: 10px;
  max-height: 50px;
  font-style: italic;
  text-align: left;
}

.divUsuario {
  display: flex;

}

.divEnviarMsg {
  position: fixed;
  top: 92%;
  left: 25%;
  width: 50%;
  height: 48px;
  border: white 1px solid;
  border-radius: 10px;
  background-color: #99b381;
  
}

input {
  background-color: white;
  border: white 1px solid;
  border-radius: 50px;
  color: rgb(0, 0, 0);
  width: 80%;
  padding: 3px 3px 3px 5px;
  font-size: medium;
  font-weight: bold;
}

.bEnviarMsg {
  color: rgb(0, 0, 0);
  background-image: linear-gradient(180deg, #f6fd17, #43b64c);
  border: 2px solid rgb(0, 0, 0);
  margin: 4px;
  padding: 7px 10px 7px 10px;

}

.bEnviarMsg:hover {
  filter: drop-shadow(0 0 2em #2ec754);
}