#root {
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

* {
  background-color: rgb(35, 41, 78);
}

.bLoginGoogle {
  color: white;
  background-image: linear-gradient(0deg, #08143d, #2fcc66);
  border: 2px solid black;
  margin: 4px;
  padding: 7px 4px 7px 5px;
}
.bLoginGoogle:hover {
  filter: drop-shadow(0 0 2em #26ff0077);
}

.bDeslogar {
  color: white;
  background-image: linear-gradient(180deg, #08143d, #cc492f);
  border: 2px solid black;
  margin: 4px;
  padding: 7px 10px 7px 10px;
}

.bDeslogar:hover {
  filter: drop-shadow(0 0 2em #ff0000);
}

.tArea {
  width: 100%;
  min-height: 200px;
}

.logo {
  height: 6em;
  margin: 24px 16px;
  filter: drop-shadow(0 0 2em #ffffff87);
  border-radius: 1000px;
}


@media (prefers-reduced-motion: no-preference) {
}

.card {
  margin: 31px 0px 36px 0px;
  min-width: 184px;
  max-width: 190px;
  
}

.read-the-docs {
  color: #888;
}

h1 {
  color: white;
}

.tNameUser {
  color: white;
  background-color: #341082;
  width: auto;
  border-radius: 50px 50px 0px 0px;
  height: auto;
  border: #7b41f8 solid 1px;
  margin-bottom: -4.5%;
  font-size: larger;
  display: inline-block;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 2%;
  
}

.tTextPost {
  color: white;
  background-color: #341082;
  width: 75%;
  border-radius: 0px 50px 50px 50px;
  border: #836bb6 solid 2px;
  margin-top: 0%;
  margin-left: 12.5%;
  margin-bottom: 30px;
}

.posts {
  border: #bd34fe solid 5px;
  border-radius: 50px;
  width: 75%;
  /* align-items: center; */
  margin-left: 12.5%;
  margin-top: 25px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}

.photo {
  /* margin-top: 10px; */
  width: 6%;

  border-radius: 50px;
  margin: 30px 0px 0px 4.5%;
}

.divHeader {
  border: white solid 1px;
  display: flex;
  justify-content: space-between;
  max-height: 144px;
}


.divUserEmail {
max-height: 144px;
}

.divPosts {
  border: white solid 1px;
  margin: 0px 1em;
}

.tUserName {
  font-size:x-large;
  max-height: 50px;
  margin-top: 36px;
  margin-bottom: 0px;
  margin-left: 10px;
  text-align: left;
}

.tEmail {
  color: white;
  border: white solid 1px;
  margin-bottom: 36px;
  margin-top: 5px;
  margin-left: 10px;
  max-height: 50px;
  font-style: italic;
}

.divUsuario {
  display: flex;

}
